
/* header style  */

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid red; 
  width: 100%; 
  padding: 0 20px ;
  

}
.navlinks{
  display: flex;
  flex-direction: row; 
  gap: 20px; 
  justify-content: space-around; 
}